.navbar ul {
  display: flex;             
  list-style-type: none;     
  margin: 80px 0; /* Adjusted margin for better spacing */
  padding: 50px 0; /* Adjusted padding for better spacing */      
  background-color: #39919f;    
  justify-content: center;
  border: 2px solid #0c0101;   
}

.navbar ul li {
  margin: 10px 15px;           
}
.navbar ul li a {
  text-decoration: none;     
  color: rgb(16, 9, 9);             
  font-weight: bold;        
  padding: 10px 15px;      
  border-radius: 5px;      
  transition: background-color 0.3s ease; 
}
.navbar a:hover {
  background-color: #c5c1d6; 
} 

h1 {
  text-align: center;
}

img {
  display: block;  
  margin: 0 auto;  
  width: 25%;       
}
p {
  text-align: center; 
  font-size: 20px;    
  color: #0c0101;       
  margin-top: 20px;  
}
.Hero {
  background-color: #e48fd4;
  margin-top: 40px;
  padding: 20px;
}
h2 {
  text-align: center;
  color: #0c0101;
  margin-top: 40px;
}
.gallery-container {
  display:flex;
  justify-content: space-around;
  gap: 20px;                  
               
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
}

.gallery-item img {
  width: 100%;
  height: auto;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  
}

.terms-of-service {
  text-align: left;
}
 
.footer-links a:hover {
  text-decoration: underline;
}

.contact-info p{  
  margin: 0;
  text-align: right; 
}



 




















